header {
    width: 100%;
    height: 100px;
    background: rgba(48, 48, 48, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header .container li a {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

header .container menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

header .container menu li a {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Hero New', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fff;
}

header .container li .join {
    text-decoration: underline;
}

.activeMobile {
    display: none;
}

.menu-burger {
    display: none;
    opacity: 0;
}

.menu-global {
    opacity: 0;
}

.activeText {
    display: none;
}


.menu-text {
    opacity: 0;
}

@media(max-width:900px) {

    .container__media__menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .closeBurger {
        top: 0;
        right: 20px;
        position: absolute;

    }


    .activeMobile {
        display: block;
        color: #151515;
        height: 500px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #bebebe;
    }

    .activeText {
        display: block;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        opacity: 1;
        padding-top: 10px;
    }

    header .container {
        padding-left: 40px;
        left: 0;
        top: 0;
    }

    header .container menu,
    header .mobile__phone {
        display: none;
    }


    header .container .logoCheck {
        margin: 0;
        transform: 0;
        left: 0;
    }


    .menu__burger {
        color: #151515;
        list-style-type: none;
        text-align: right;
        font-size: 15px;
        display: block;
        opacity: 1;
    }


    .menu__burger {
        margin: 0 20px 0 0;
        cursor: pointer;
        position: relative;
        height: 50px;
        text-align: right;
    }

    .menu-global {
        z-index: -1;
        position: absolute;
        right: 0;
        height: 8px;
        width: 45px;
        background-color: #ffffff;
        opacity: 1;
        transition: 0.2s;
    }

    .menu-global:hover {
        right: 10px;
        transition: all 0.2s;
    }

    .menu-top {
        top: 0;
    }

    .menu-middle {
        top: 18px;
    }

    .menu-bottom {
        top: 36px;
    }

}